<h5 class="card-title">Quero ser um <%= t params[:kind] %></h5>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, kind: params[:kind])) do |f| %>
  <%= f.error_notification %>

  <%= f.input :kind, as: :hidden, input_html: { value: params[:kind] } %>
  <%= f.input :username,
              required: true,
              input_html: { autocomplete: "username" } %>
  <%= f.input :name, label: params[:kind] == 'professional' ? 'Nome' : 'Razão Social', required: true %>
  <%= f.input :document_number, label: params[:kind] == 'professional' ? 'CPF' : 'CNPJ', required: true %>

  <% if params[:kind] == 'professional' %>
    <%= f.input :identity, required: true %>
    <%= f.input :phone, required: true %>
  <% end %>

  <%= f.input :email,
              required: true,
              input_html: { autocomplete: "email" } %>
  <%= f.input :password,
              required: true,
              hint: ("Não pode ser inferior há #{@minimum_password_length} caracteres" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>

  <div class="d-flex justify-content-end">
    <%= f.button :submit, "Criar conta", class: 'btn btn-success btn-sm' %>
  </div>
<% end %>

<hr />

<%= render "devise/shared/links" %>
