<div class="card">
  <div class="card-header text-white bg-dark">
    <%%= action %> <%= singular_table_name %>
  </div>
  <%%= simple_form_for @<%= singular_table_name %> do |f| %>
    <div class="card-body">
      <% attributes.each do |attribute| -%>
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      <% end -%>

      <hr />

      <%%= f.submit "#{action} <%= singular_table_name %>", class: 'btn btn-primary btn-sm' %>
      <%%= link_to <%= plural_table_name %>_path, :class => 'btn btn-default btn-sm' %>
    </div>
  <%% end %>
</div