<h3><%= @professional.user.name %></h3>

<table class="table">
  <tr>
    <th>E-mail</th>
    <td><%= @professional.user.email %></td>
  </tr>
  <tr>
    <th>Profissão</th>
    <td><%= @professional.occupation %></td>
  </tr>
  <tr>
    <th>Empresa</th>
    <td><%= @professional.company %></td>
  </tr>
  <tr>
    <th>Linkedin</th>
    <td><%= @professional.linkedin %></td>
  </tr>
  <tr>
    <th>Facebook</th>
    <td><%= @professional.facebook %></td>
  </tr>
  <tr>
    <th>Twitter</th>
    <td><%= @professional.twitter %></td>
  </tr>
  <tr>
    <th>Celular</th>
    <td><%= @professional.cellphone %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @professional.phone %></td>
  </tr>
  <tr>
    <th>Cidade</th>
    <td><%= @professional.city %></td>
  </tr>
  <tr>
    <th>Estado</th>
    <td><%= @professional.state %></td>
  </tr>
</table>