<div class="card">
  <div class="card-header text-white bg-dark">
    Lugar
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Descrição</th>
          <td><%= t @place.description %></td>
        </tr>
        <tr>
          <th>Logradouro</th>
          <td><%= @place.street %></td>
        </tr>
        <tr>
          <th>Cidade</th>
          <td><%= @place.city %></td>
        </tr>
        <tr>
          <th>Estado</th>
          <td><%= @place.state %></td>
        </tr>
        <tr>
          <th>Número de Mesas</th>
          <td><%= @place.number_of_tables %></td>
        </tr>
        <tr>
          <th>Número de Cadeiras</th>
          <td><%= @place.number_of_chairs %></td>
        </tr>
        <tr>
          <th>Preço por Hora</th>
          <td><%= @place.price_per_hour %></td>
        </tr>
        <tr>
          <th>Data Inicial</th>
          <td><%= l @place.start_date %></td>
        </tr>
        <tr>
          <th>Data Final</th>
          <td><%= l @place.end_date %></td>
        </tr>
      </table>
    </div>
    <h5 class="card-title">Horários</h5>
    <div class="table-responsive">
      <table class='table'>
        <thead>
          <th nowrap>
            <span data-toggle="tooltip" title="Dias da Semana">Dias da Semana</span>
          </th>
          <th nowrap>
            <span data-toggle="tooltip" title="Início">Início</span>
          </th>
          <th nowrap>
            <span data-toggle="tooltip" title="Término">Término</span>
          </th>
        <thead>
        <tbody>
          <% @place.place_schedules.each do |schedule| %>
            <tr>
              <td nowrap>
                <% if schedule.sunday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:sunday) %></span>
                <% end %>
                <% if schedule.monday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:monday) %></span>
                <% end %>
                <% if schedule.tuesday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:tuesday) %></span>
                <% end %>
                <% if schedule.wednesday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:wednesday) %></span>
                <% end %>
                <% if schedule.thursday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:thursday) %></span>
                <% end %>
                <% if schedule.friday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:friday) %></span>
                <% end %>
                <% if schedule.saturday? %>
                  <span class='badge badge-pill badge-dark'><%= PlaceSchedule.human_attribute_name(:saturday) %></span>
                <% end %>
              </td>
              <td nowrap><%= l schedule.start, format: '%H:%M' %></td>
              <td nowrap><%= l schedule.end, format: '%H:%M' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>