<!DOCTYPE html>
<html>
  <head>
    <title>TemMesaLivre</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Tem Mesa Livre</a>
    </nav>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-4">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
